# =============== #
# Unity generated #
# =============== #
Temp/
Library/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
/.vs/jet-dash-vr/v15/Server/
/.vs/global-game-jam-2019/v15/Server/sqlite3/storage.ide
/.vs/global-game-jam-2019/v15/Server/sqlite3/storage.ide-shm
/.vs/global-game-jam-2019/v15/Server/sqlite3/storage.ide-wal
